::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, .7);
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, .7);
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, .7);
}

 :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, .7);
}

.system_controll_btn {
    margin-right: 15px;
    overflow: hidden;
}

.system_controll_btn>li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    font-size: 20px;
}

#left-side-nav,
.layui-body {
    transition: all .2s;
}

em,
i {
    font-style: normal;
}

.nav-tree-main .layui-nav-item>a i {
    margin-right: 10px;
}

.nav-tree-main .layui-nav-item>.layui-nav-child dd a {
    padding-left: 40px;
}

.layui-breadcrumb a {
    cursor: pointer;
}

.layui-breadcrumb a:last-child {
    cursor: auto;
}


/* 左侧栏 *** 向左折叠 mini-sidebar */

.mini-sidebar .layui-layout-admin .layui-side {
    width: 80px;
    overflow-x: visible;
}

.mini-sidebar .layui-layout-admin .layui-side:hover .layui-side-scroll {
    width: 268px;
}

.mini-sidebar .nav-tree-main .layui-side-scroll {
    width: 48px;
    overflow-x: initial;
}

.mini-sidebar .nav-tree-main.layui-nav-tree {
    width: 80px;
}

.mini-sidebar .nav-tree-main.layui-nav-tree .layui-nav-item {
    position: relative;
}

.mini-sidebar .nav-tree-main>.layui-nav-item>.layui-nav-child {
    position: absolute;
    left: 48px;
    top: 0;
    width: 200px;
    background-color: rgba(57, 61, 73, .9) !important;
    display: none;
    z-index: 9999;
    border-radius: 0;
}

.mini-sidebar .nav-tree-main>.layui-nav-item>.layui-nav-child dd a {
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    color: #fff;
}

.mini-sidebar .nav-tree-main>.layui-nav-item:hover>.layui-nav-child {
    display: block;
}

.mini-sidebar .nav-tree-main>.layui-nav-item a {
    padding: 10px 0 0 0;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
}

.mini-sidebar .nav-tree-main>.layui-nav-item>a>.sideIcons {
    margin: 0 auto;
}

.mini-sidebar .nav-tree-main .icon {
    line-height: 12px;
}

.mini-sidebar .nav-tree-main>.layui-nav-item a>i {
    display: block;
    line-height: 12px;
    padding-top: 5px;
}

.mini-sidebar .nav-tree-main>.layui-nav-item>a .layui-nav-more {
    display: none;
}

.mini-sidebar .nav-tree-main .sub-nav .layui-nav-item a {
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    color: #b4bcc8;
}

.mini-sidebar .nav-tree-main .sub-nav .layui-nav-item .layui-nav-more {
    display: block;
}

.mini-sidebar .layui-body {
    left: 80px;
}

.mini-sidebar .nav-tree-main .layui-nav-item>a i {
    margin: 0 auto 6px;
}

.layui-icon-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 999;
}

.search-input {
    background-color: #393D49;
    border: none;
    color: rgba(255, 255, 255, .7);
    padding-left: 50px;
    transition: all 0s;
}

.mini-sidebar .mini .search-input {
    position: relative;
    width: 80px;
}

.mini-sidebar .mini .layui-icon-search {
    left: 30px;
}

.mini-sidebar .mini .search-box {
    cursor: pointer;
}

#logout {
    cursor: pointer;
}